[package]
name = "type-metadata"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>", "Centrality Developers <support@centrality.ai>"]
edition = "2018"

license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
type-metadata-derive = { version = "0.1.0", path = "derive", default-features = false, optional = true }
serde = { version = "1", default-features = false, features = ["derive", "alloc"] }
derive_more = { version = "0.99.1", default-features = false, features = ["from"] }

[features]
default = ["std"]
std = [
    "serde/std",
]
derive = [
    "type-metadata-derive"
]

[workspace]
members = [
	"derive",
	"test_suite",
]
